{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>ZipEvent - zarządzaj wydarzeniami</title>

    <!-- Styles -->
    <link href="{% static '/assets_landing/css/page.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets_landing/css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static '/assets_landing/img/apple-touch-icon.png' %}">
    <link rel="icon" href="{% static '/assets_landing/img/favicon.ico' %}">
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark" data-navbar="sticky">
      <div class="container">
        <div class="row">

          <section class="col-lg-5 navbar-mobile">
            <nav class="nav nav-navbar mr-auto">
              <a class="nav-link" href="/#section-features">Funkcje</a>
              <a class="nav-link" href="/#faq">FAQ</a>
              <a class="nav-link" href="/#contact">Kontakt</a>
            </nav>
          </section>

          <div class="col-auto col-lg-auto1 mr-auto mx-lg-auto d-flex align-items-center">
            <button class="navbar-toggler" type="button"><span class="navbar-toggler-icon"></span></button>
          <a class="navbar-brand mobilehide desktopshow" href="/">
            <img class="logo-dark" src="{% static '/assets_landing/img/logo-dark-full.png' %}" alt="logo" style="width: 120px; height: 25px;">
            <img class="logo-light" src="{% static '/assets_landing/img/logo-full.png' %}" alt="logo" style="width: 140px; height: 29px;">
          </a>

          <a class="navbar-brand desktophide mobileshow" href="/">
            <img class="logo-dark" src="{% static '/assets_landing/img/logo-dark-full.png' %}" alt="logo" style="width: 120px; height: 25px;">
            <img class="logo-light" src="{% static '/assets_landing/img/logo-full.png' %}" alt="logo" style="width: 120px; height: 25px;">
          </a>
          </div>

          <div class="col-auto col-lg-5 text-right">
            {% if user.is_authenticated %}
            <a class="btn btn-sm btn-round btn-outline-success  d-lg-inline-block mr-2" href="{% url 'user_events_list' %}">Panel</a>
            <a class="btn btn-sm btn-round btn-success mobilehide" href="{% url 'logout_view' %}">Wyloguj się</a>

            {% else %}
            <a class="btn btn-sm btn-round btn-outline-success mobilehide d-lg-inline-block mr-2" href="{% url 'register_account' %}">Zarejestruj się</a>
            <a class="btn btn-sm btn-round btn-success" href="{% url 'login_view' %}">Zaloguj</a>
            {% endif %}

          </div>

        </div>
      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header class="header text-white h-fullscreen pb-0 overflow-hidden" style="background-image: url('/static/assets_landing/img/vector/16.png'); background-color: #262a37;">
      <div class="overlay opacity-95" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);"></div>
      <div class="container text-center">
        <div class="row align-items-center h-100">

          <div class="col-md-8 mx-auto">
            <h1>Lepsze zarządzanie wydarzeniami</h1>
            <p class="lead mt-4 mb-7">Stwórz wydarzenie, udostępnij link, obserwuj statystyki i eksportuj dane</p>
            <a class="btn btn-xl btn-round btn-primary px-8" href="{% url 'register_account' %}">Stwórz bezpłatne konto</a>
          </div>

          <div class="col-md-8 mx-auto align-self-end">
            <img class="mt-7" src="{% static '/assets_landing/img/screen.png' %}" alt="img" data-aos="fade-up">
          </div>

        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="main-content">

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section id="section-features" class="section">
        <div class="container" id="functions">
          <header class="section-header" >
            <small>Funkcje</small>
            <h2>Wszystko w jednym</h2>
            <hr>
            <p class="lead">Łatwe udostępnianie wydarzenia, śledzenie stastyk i wysyłanie maili. Słowem, wszystko czego potrzebujesz do zarządzania wydarzeniami.</p>
          </header>



          <div class="row gap-y">

            <div class="col-md-8 mx-auto mb-7">
              <img class="shadow-5" src="{% static '/assets_landing/img/screen2.png' %}" alt="..." data-aos="fade-up" data-aos-duration="2000">
            </div>


            <div class="w-100"></div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-dark mr-5"><i class="icon-piechart"></i></div>
                <div class="media-body">
                  <h5>Statystyki</h5>
                  <p>Obserwuj statystyki swojego wydarzenia - ilość zapisanych osób, wyświetlenia eventu i wiele więcej.</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-info mr-5"><i class="icon-envelope"></i></div>
                <div class="media-body">
                  <h5>Zarządzaj adresami email</h5>
                  <p>Prosta wysyłka i zarządzanie bazami mailingowymi</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-primary mr-5"><i class="icon-gears"></i></div>
                <div class="media-body">
                  <h5>Intuicyjny edytor</h5>
                  <p>Nasz prosty a jednocześnie rozbudowany edytor pozwala edytować dowolny element wydarzenia.</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-warning mr-5"><i class="icon-global"></i></div>
                <div class="media-body">
                  <h5>Udostępnianie</h5>
                  <p>Udostępnianie eventu jeszcze nigdy nie było tak proste</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-danger mr-5"><i class="icon-phone"></i></div>
                <div class="media-body">
                  <h5>Mobilnie</h5>
                  <p>Nasza aplikacja jest w pełni dostosowana do urządzeń mobilnych</p>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-xl-4">
              <div class="media">
                <div class="lead-6 line-height-1 text-success mr-5"><i class="icon-chat"></i></div>
                <div class="media-body">
                  <h5>Pomoc techiczna</h5>
                  <p>Odpowiemy na twoje pytania tak szybko, jak będzie to możliwe.</p>
                </div>
              </div>
            </div>


          </div>

        </div>
      </section>


      <section class="section" id="faq">
        <div class="container">
          <header class="section-header">
            <small>FAQ</small>
            <h2>Najczęściej zadawane pytania</h2>
            <hr>
            <p>Postaraliśmy się odpowiedzieć na wszystkie najpopularniejsze pytania. Jeśli twojego pytania tutaj nie ma,
            zapraszamy do kontaktu!</p>
          </header>


          <div class="row gap-y">
            <div class="col-md-6">
              <h5>Czy jest to bezpłatna usługa?</h5>
              <p>Tak, ZipEvent jest w 100% darmowy i na zawsze taki pozostanie.</p>
            </div>


            <div class="col-md-6">
              <h5>Czy będę mógł sam skonfigurować wydarzenie?</h5>
              <p>Tak, tworzenie wydarzenia jest maksymalnie proste i intuicyjne. Jeśli jednak miałbyś jakieś problemy, służymy pomocą!</p>
            </div>


            <div class="col-md-6">
              <h5>Czy mogę założyć testowe wydarzenie?</h5>
              <p>Absolutnie tak! Możesz utworzyć tak dużo wydarzeń jak tylko zechesz. To od Ciebie zależy które opublikujesz.</p>
            </div>


            <div class="col-md-6">
              <h5>Czy mogę wyeksportować maile wszystkich uczestników wydarzenia?</h5>
              <p>Wszystkie dane uczestników wydarzeń które stworzysz możesz wyeksportować do pliku .csv jednym przyciskiem w panelu. </p>
            </div>

          </div>
        </div>
      </section>

    </main>


    <!-- Footer -->
    <footer class="footer bg-gray py-7">
      <div class="container">
        <div class="row" id="contact">

          <div class="col-12">
            <p><a href="#"><img src="{% static '/assets_landing/img/logo-dark-full.png' %}" alt="logo" style="width: 140px; height: 29px;"></a></p>
          </div>

          <div class="col-xl-5">

            <b>ZipEvent</b><br>
            Warszawa, Polska<br>
            <b>Email: </b>kontakt@slickcode.pl<br>
            <b>Tel: </b>+48 783 111 141<br>

                              <br> <span class="text-muted d-none d-sm-inline-block ">Rozwijane z <img src="{% static '/assets_landing/img/Heart.png' %}" alt="heart"> przez &nbsp;<a href="https://slickcode.pl" target="_blank" >Slickcode</a></span>
            <br>  &copy; 2020 ZipEvent



            <hr class="d-xl-none">
          </div>

<!--          <div class="col-4 col-xl-2 offset-xl-1">-->
<!--            <div class="nav flex-column">-->
<!--              <a class="nav-link" href="#">About</a>-->
<!--              <a class="nav-link" href="#">Careers</a>-->
<!--              <a class="nav-link" href="#">Contact</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-4 col-xl-2">-->
<!--            <div class="nav flex-column">-->
<!--              <a class="nav-link" href="#">Features</a>-->
<!--              <a class="nav-link" href="#">Pricing</a>-->
<!--              <a class="nav-link" href="#">Security</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-4 col-xl-2">-->
<!--            <div class="nav flex-column">-->
<!--              <a class="nav-link" href="#">Help Center</a>-->
<!--              <a class="nav-link" href="#">API</a>-->
<!--              <a class="nav-link" href="#">FAQ</a>-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
    </footer><!-- /.footer -->




    <!-- Scripts -->
    <script src="{% static '/assets_landing/js/page.min.js' %}"></script>
    <script src="{% static '/assets_landing/js/script.js' %}"></script>



  </body>
</html>