{% load static %}

<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38090364-35"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-38090364-35');
        </script>
        <meta charset="utf-8" />
        <title>ZipEvent - zarządzaj wydarzeniami</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ZipEvent to platforma do zarządzania wydarzeniami. W prosty sposób możesz stworzyć event, udostępnić link
                                        , obserwować statystyki i wysyłać mailing. A to wszystko w bezpłatnej aplikacji.">
        <meta name="keywords" content="zarządzanie wydarzeniami, zipevent, zip event, eventy, event management, statystyki wydarzeń">

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static '/assets/plugins/dropify/css/dropify.min.css' %}" rel="stylesheet">

        <!-- App css -->
        <link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static '/assets/css/style.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body>

<body class="account-body accountbg">
        <br><br><br>
        <!-- Log In page -->
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                    </button>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
                                </button>
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                             <div class="auth-logo-box">
                                    <a href="../analytics/analytics-index.html" class="logo logo-admin"><img src="{% static '/assets/images/logo-sm.png' %}" height="55" alt="logo" class="auth-logo"></a>
                                </div><!--end auth-logo-box-->
                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">Dołącz do ZipEvent</h4>
                                    <p class="text-muted mb-0">Załóż swoje bezpłatne konta aby tworzyć niesamowite eventy.</p>
                                </div> <!--end auth-logo-text-->


                                <form class="form-horizontal auth-form my-4" method="post">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label>Nazwa użytkownika</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                            {{ form.username }}
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label>Email</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-mail"></i>
                                            </span>
                                            {{ form.email }}
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label>Powtórz Email</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-mail"></i>
                                            </span>
                                            {{ form.email_confirm }}
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label>Hasło</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            {{ form.password }}
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label>Powtórz hasło</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock-open"></i>
                                            </span>
                                            {{ form.password_confirm }}
                                        </div>

                                        <div class="form-group">
                                            <label>Jak się o nas dowiedziałeś?</label>
                                            <div class="input-group mb-3">
                                                <span class="auth-form-icon">
                                                    <i class="dripicons-phone"></i>
                                                </span>
                                                {{ form.from_where }}
                                            </div>
                                        </div><!--end form-group-->
                                    </div><!--end form-group-->

                                    <div class="form-group row mt-4">
                                        <div class="col-sm-12">
                                            <div class="custom-control custom-switch switch-success">
                                                <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">
                                                <label class="custom-control-label text-muted" for="customSwitchSuccess">Akceptuję regulamin <a href="#" class="text-primary">Regulamin serwisu</a></label>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">Zarejestruj <i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                </form><!--end form-->
                            </div><!--end /div-->

                            <div class="m-3 text-center text-muted">
                                <p class="">Masz już u nas konto? <a href="{% url 'login_view' %}" class="text-primary ml-2">Zaloguj się</a></p>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end auth-card-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- End Log In page -->

    </body>

</html>
