{% extends 'base.html' %}


{% block content %}



                    <div class="row">

                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">Lista twoich wydarzeń</h4>
                                    <div class="table-responsive">
                                        <table id="datatable" class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Nazwa wydarzenia</th>
                                                <th>Liczba uczestników</th>
                                                <th>Data</th>
                                                <th>Stan</th>
                                                <th class="text-right">Opcje</th>
                                            </tr><!--end tr-->
                                            </thead>

                                            <tbody>
                                            {% for event in user_events_list %}
                                            <tr>
                                                <td><a target="_blank" rel="noopener noreferrer" href="{% url 'event_detail' event.id %}">{{ event.title }} </a></td>
                                                <td>{{ event.participants_amount }}</td>
                                                <td>{{ event.date }} | {{ event.time }}</td>
                                                {% if event.event_status == 'Aktywne' %}
                                                <td><span class="badge badge-soft-success" style="font-size: 100%" >Aktywny</span></td>
                                                {% elif event.event_status == 'Wstrzymane' %}
                                                <td><span class="badge badge-soft-dark" style="font-size: 100%" >Wstrzymany</span></td>
                                                {% elif event.event_status == 'Zakończone' %}
                                                <td><span class="badge badge-soft-danger" style="font-size: 100%" >Zakończony</span></td>
                                                {% endif %}
                                                <td class="">
                                                    <button type="button" onclick="location.href='{{ event.id }}/panel';" class="btn-md btn-info btn-square btn-outline-dashed waves-effect waves-light"><i class="mdi mdi-apps mr-2"></i>Panel</button>

                                                </td>
                                            </tr><!--end tr-->
                                           {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!--end col-->

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">OD CZEGO ZACZĄĆ?</h4>
                                    <br>
                                        <div class="activity">
                                            <i class="mdi mdi-pencil-outline icon-success"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Utwórz wydarzenie</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">Stwórz swoje pierwsze wydarzenie przez przycisk "Dodaj wydarzenie" korzystając z intuicyjnego edytora.
                                                    </p>

                                                </div>
                                            </div>
                                            <i class="mdi mdi-link icon-pink"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Udostępnij link do zapisów</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">Udostępnij link do wydarzenia na Facebooku, grupach dyskusyjnych i wszędzie tam gdzie znajdują się potencjali
                                                        zainteresowani.
                                                    </p>

                                                </div>
                                            </div>
                                            <i class="mdi mdi-chart-areaspline icon-yellow"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Obserwuj statystyki</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">W prosty sposób możesz obesrwować kto i kiedy dołączył do wydarzenia, ilość uczestników, liczbę wyświetleń
                                                        i wiele więcej.
                                                    </p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-cloud-download-outline icon-purple"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Pobieraj dane</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">Jednym przyciskiem wyeksportujesz wszystkie dane które możesz potem dowolnie wykorzystywać.
                                                    </p>
                                                </div>
                                            </div>


                                        </div><!--end activity-->

                                </div>  <!--end card-body-->
                            </div><!--end card-->
                        </div>
                    </div><!--end row-->




{% endblock %}
