{% extends 'base.html' %}


{% block content %}



                    <div class="row">

                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">Lista twoich wydarzeń</h4>
                                    <div class="table-responsive">
                                        <table id="datatable" class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th>Nazwa wydarzenia</th>
                                                <th>Lokalizacja</th>
                                                <th>Mobile No</th>
                                                <th>Last Visit</th>
                                                <th>Stan</th>
                                                <th class="text-right">Opcje</th>
                                            </tr><!--end tr-->
                                            </thead>

                                            <tbody>
                                            {% for event in user_events_list %}
                                            <tr>
                                                <td><a target="_blank" rel="noopener noreferrer" href="{% url 'event_detail' event.id %}">{{ event.title }} </a></td>
                                                <td>{{ event.location }}</td>
                                                <td>{{ event.id }}</td>
                                                <td>18/07/2019</td>
                                                <td><span class="badge badge-soft-danger">Zakończony</span></td>
                                                <td class="text-right">
                                                    <a href="{{ event.id }}/members" class="mr-2"><i class="fas fa-chart-bar text-info font-16"></i></a>
                                                    <a href="{{ event.id }}/edit" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                                    <a href="{{ event.id }}/delete"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                                </td>
                                            </tr><!--end tr-->
                                           {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div> <!--end col-->

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">OD CZEGO ZACZĄĆ?</h4>
                                    <div class="slimscroll hospital-dash-activity">
                                        <div class="activity">
                                            <i class="mdi mdi-checkbox-marked-circle-outline icon-success"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Utwórz wydarzenie</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                        <a href="#" class="text-info">[more info]</a>
                                                    </p>

                                                </div>
                                            </div>
                                            <i class="mdi mdi-timer-off icon-pink"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Udostępnij link do zapisów</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                        <a href="#" class="text-info">[more info]</a>
                                                    </p>

                                                </div>
                                            </div>
                                            <i class="mdi mdi-alert-decagram icon-purple"></i>
                                            <div class="time-item">
                                                <div class="item-info">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h6 class="m-0">Obserwuj statystyki</h6>
                                                    </div>
                                                    <p class="text-muted mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                    </p>
                                                </div>
                                            </div>


                                        </div><!--end activity-->
                                    </div>
                                </div>  <!--end card-body-->
                            </div><!--end card-->
                        </div>
                    </div><!--end row-->




{% endblock %}
