{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
   <div class="col-12">
      <div class="card">
         <div class="card-body">
            <div class="alert alert-light mb-4" role="alert">
               <h4 class="alert-heading font-18">Informacja</h4>
               <p>W kontach bezpłatnych mailing może być obsługiwany dla wydarzeń do 250 osób. W celu zwiększenia tego limitu, prosimy o kontakt z administratorem.</p>
               <p class="mb-0">Wysyłka jest realizowana natychmiastowo. Za treść mailów odpowiada wyłącznie organizator wydarzenia. Administracja ZipEvent.pl udostępnia jedynie narzędzie wysyłkowe, nie weryfikuje mailingów i nie ponosi odpowiedzialności za ich treść.</p>
               <br>
               <p class="mb-0">Wysyłka zostanie również zrealizowana na Twój email. </p>
            </div>
            {% if can_add_event == True %}
            <a class="btn btn-primary px-4 mt-0" href="{% url 'mailing_creator' %}"><i class="mdi mdi-plus-circle-outline mr-2"></i>Dodaj nowy mailing</a>
            {% else %}
            <button type="button" tabindex="0" class="btn btn-info waves-effect" data-toggle="popover" data-trigger="focus" title="" data-content="Możesz mieć tylko jeden aktywny (gotowy do wysłania) mailing na liście" data-original-title="Blokada dodawania">
            <i class="mdi mdi-plus-circle-outline mr-2"></i>Dodaj nowy mailing
            </button>
            {% endif %}
            <div class="table-responsive mt-4">
               <table id="datatable" class="table">
                  <thead class="thead-light">
                     <tr>
                        <th>Temat</th>
                        <th>Wydarzenie</th>
                        <th>Data wysłania</th>
                        <th>Status</th>
                        <th>Do wysłania/Wysłano</th>
                        <th class="text-right">Opcje</th>
                     </tr>
                     <!--end tr-->
                  </thead>
                  <tbody>
                     {% for mailing in mailing_list %}
                     <tr>
                        <td>{{ mailing.subject }}</td>
                        <td>{{ mailing.event.title }}</td>
                        <td>{{ mailing.send_date }}</td>
                        <td>
                           {% if mailing.status == mailing.READY %}
                           <span class="badge badge-soft-primary" style="font-size: 100%" id="spinner{{ mailing.id }}">Gotowy do wysyłki</span>
                           {% elif mailing.status == mailing.IN_PROGRESS %}
                           <span class="badge badge-soft-purple" style="font-size: 100%" id="sending" value="{{ mailing.id }}">
                              Wysyłanie...
                              <div class="spinner-grow spinner-grow-sm" role="status"></div>
                           </span>
                           {% elif mailing.status == mailing.SENT %}
                           <span class="badge badge-soft-success" style="font-size: 100%" id="spinner{{ mailing.id }}">Wysłano</span>
                           {% elif mailing.status == mailing.ERROR %}
                           <span class="badge badge-soft-danger" style="font-size: 100%" id="spinner{{ mailing.id }}">Błąd!</span>
                           {% endif %}
                        </td>
                        <td>
                           {% if mailing.status == mailing.SENT %}{{ mailing.emails_sent }}{% else %}{{ mailing.participants_amount }}{% endif %}/<a id="emails_sent_{{ mailing.id }}">{{ mailing.emails_sent }}</a></td>
                        <td class="text-right">
                           {% if mailing.status == mailing.READY or mailing.status == mailing.ERROR %}
                           <a href="#" class="mr-2a" id="send_button" value="{{ mailing.id }}">WYŚLIJ</a>
                           {% endif %}
                           <a href="{{ mailing.id }}/edit" class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                           <a href="{{ mailing.id }}/delete"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                        </td>
                     </tr>
                     <!--end tr-->
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
         <!--end card-body-->
      </div>
      <!--end card-->
   </div>
   <!--end col-->
</div>
<!--end row-->
{% endblock %}

{% block scripts %}
<script src="{% static '/assets/js/jquery.core.js' %}"></script>
<script>
   window.scrollTo(0, 0);


   var sending_mailing = $('#sending');
   if (sending_mailing.length > 0) {
       var mailing_id = sending_mailing.attr('value');

       checkLiveResult(mailing_id);
   }

   $(".mr-2a").click(function() {
       var mailing_id = $(this).attr('value');
       var info_badge = $("#spinner" + mailing_id);
       info_badge.text("Wysyłanie");
       info_badge.attr('badge-soft-primary', 'badge-soft-info');
       info_badge.append("<div class=\"spinner-grow spinner-grow-sm\" role=\"status\"></div>");
       $(this).hide();
       var done = false;
       $.ajax({
           url: '/ajax/send_email/',
           data: {
               'mailing_id': mailing_id
           },
           dataType: 'json',
       });

       checkLiveResult(mailing_id);


   });

   function checkLiveResult(mailing_id) {
       time = setInterval(function() {
           $.ajax({
               url: '/ajax/check_emails_sent',
               data: {
                   'mailing_id': mailing_id
               },
               dataType: 'json',
               success: function(data) {
                   if (data.status) {
                       setTimeout(
                           function() {
                               window.location.replace("https://zipevent.pl/mailing/");
                           }, 4000);
                   } else {
                       $("#emails_sent_" + mailing_id).text(data.emails_sent);
                       console.log(data.emails_sent)
                   }

               }
           });
       }, 1000);
   }



   function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
{% endblock %}